.contain{
padding: 2rem;  
    /* line-height: 4px; */
}

#main-box{
    height: 100px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
}
@media screen and (max-width: 1600px) {
    #main-box{
        height: 1600px;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-gap: 5%;
    }
}

img{
  height: 100px;
  width: 80%;
}
#button-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}